{extend name="/index/base"}

{block name="content"}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="thumbnail">
                <p class="text-center">{$arr.pr_ctitle}</p>
                <p class="text-center">{$arr.pr_usname}&nbsp;&nbsp;&nbsp;&nbsp;{$arr.pr_ctime}</p>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="thumbnail">
                <p>
                    {$arr.pr_ccontent}
                </p>
            </div>
        </div>
    </div>
</div>
{/block}

